/*------------------- General styles -------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --accent-color: #2196f3;
  --button-text-accent: #ffffff;
  --hero-header-color: #ffffff;
  --button-text-color: #212121;
  --header-text-color: #212121;
  --address-text-color: #757575;
  --h3-text-color: #212121;
  --h2-text-color: #212121;
  --descriptions-text: #757575;
  --footer-geo-xt-color: #ffffff;
  --footer-nogeo-text-color: rgba(255, 255, 255, 0.6);
  --logo-main-text-color: #000000;
  --logo-first-part-text-color: hsl(207, 90%, 54%);
  --dark-page-parts-color: #2f303a;
  --logo-light-color: #ffffff;
  --logo-dark-color: #000000;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  /* backgroup-color is grey to make everything visible for now*/
  background-color: #a19f9f;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.overal-container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

img {
  display: block;
}

.logo-light {
  color: var(--logo-light-color);
}

.logo-dark {
  color: var(--logo-dark-color);
}

/*--------------- End General styles -------------------*/
/*-------------------- Header styles -------------------*/

.header {
  padding: 32px 0;
}

.header .overal-container {
  display: flex;
  align-items: center;
}

.header .address {
  margin-left: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-element:not(:last-child) {
  margin-right: 50px;
}

.address-list {
  display: flex;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--logo-main-text-color);
  margin-right: 92px;
}

.logo-web {
  color: var(--logo-first-part-text-color);
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}

.address-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--address-text-color);
}

.address-list-element:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-link:hover,
.address-list-link:focus,
.active-page-link {
  color: var(--accent-color);
}

/*----------------- End Header styles ------------------*/
/*------------------- Footer styles --------------------*/

.footer-address-link {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-address-geo {
  color: var(--footer-geo-xt-color);
}

.footer-address-nogeo {
  color: var(--footer-nogeo-text-color);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background-color: var(--dark-page-parts-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
}

.footer-address-element:not(:last-child) {
  margin-bottom: 9px;
}
/*----------------- End Footer styles ------------------*/
/*-------------------- Hero styles ---------------------*/

.hero {
  background-color: var(--dark-page-parts-color);
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 280px;
  padding-left: 252px;
  padding-right: 252px;
}

.hero-section-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-header-color);
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--button-text-color);

  height: 50px;
  min-width: 200px;
  border-radius: 4px;
  border-width: 0;

  padding: 10px 32px;
  margin-top: 30px;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--button-text-accent);
  background-color: var(--accent-color);
}

/*------------------ End Hero styles -------------------*/
/*----------------- Advantage styles -------------------*/

.advantages-list-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--h3-text-color);
}

.advantages-list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--descriptions-text);
}

.advantages-list {
  display: flex;
  padding-top: 94px;
}

.advantages-list-element:not(:last-child) {
  margin-right: 30px;
}

.advantages-list-element {
  min-width: 270px;
  min-height: 100px;
}

/*---------------- End Advantage styles ----------------*/
/*------------------ Services styles -------------------*/

.services-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h2-text-color);
}

.services-container {
  display: flex;
  flex-direction: column;
  padding-top: 94px;
}

.services-list {
  display: flex;
  margin-top: 50px;
}

.services-list-element:not(:last-child) {
  margin-right: 30px;
}

/*----------------- End Services styles ----------------*/
/*--------------------- Team styles --------------------*/

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h2-text-color);
}

.team-list-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h3-text-color);
  margin-bottom: 10px;
}

.team-list-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--descriptions-text);
}

.team-container {
  margin-top: 94px;
  display: flex;
  flex-direction: column;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  margin-top: 50px;
  display: flex;
}

.team-list-element:not(:last-child) {
  margin-right: 30px;
}

.team-list-element {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-card-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*------------------- End Team styles ------------------*/
/*-------------- Projects Buttons Styles ---------------*/

.project-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--button-text-color);
}

.project-button:hover,
.project-button:focus {
  color: var(--button-text-accent);
  background-color: var(--accent-color);
}

/*------------ End Project Buttons Styles -------------*/
/*------------------ Projects Styles ------------------*/

.projects-list-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h2-text-color);
}

.projects-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--descriptions-text);
}

/*---------------- End Projects Styles ----------------*/
